body {
  text-align: center;
  font-family: Arial, sans-serif;
}
#game-area-container {
  position: relative; /* コンテナに対する相対位置指定 */
  width: fit-content; /* 子要素の幅に合わせる */
  margin: 0 auto; /* 中央揃え */
}

#game-area {
  width: 600px;
  height: 600px;
  position: relative; /* このプロパティが重要です */
  z-index: 5;
  overflow: hidden; /* 範囲外の内容を非表示にする */
  border: 1px solid gray;
}

#game-background {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: black;
  position: relative; /* このプロパティが重要です */
  z-index: 1;
  overflow: hidden; /* 範囲外の内容を非表示にする */
}

#horizontal-line {
  position: absolute;
  z-index: 5;
  top: 89.5%;
  left: 0;
  width: 100%; /* ゲームエリアの幅いっぱいに広げる */
  height: 1.9px; /* 直線の太さ */
  background-color: red; /* 直線の色 */
}

#player-character {
  position: absolute;
  z-index: 5;
  width: 60px; /* 半径30pxのため、直径は60px */
  height: 60px;
  background-color: white;
  border-radius: 50%; /* 円形にする */
  border: 1px solid black; /* 枠線をつけて円を目立たせる */
}

#button-container {
  display: flex;
  justify-content: center; /* 中央揃え */
  margin: 20px auto;
}


#start-button,
#toggle-overlay-button {
  width: 200px; /* 希望する幅 */
  height: 50px; /* 希望する高さ */
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 20px;
}

#square-with-hole {
  background-color: black; /* 背景色 */
  position: absolute;
  z-index: 5
}

#game-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 600px;
  background-color: white;
  z-index: 3;
}

.bullet {
  position: absolute;
  width: 30px; /* 半径15pxなので直径は30px */
  height: 30px;
  background-color: red;
  border-radius: 50%; /* 円形にする */
}

.enemy {
  position: absolute;
  width: 60px; /* 敵キャラクターの幅 */
  height: 60px; /* 敵キャラクターの高さ */
  background-color: white; /* 敵キャラクターの色 */
  border: 1px solid black;
}

#game-time {
  position: absolute;
  left: 100%; /* game-areaの右端から配置 */
  top: 0px; /* game-areaの上端に揃える */
  color: black;
  font-size: 20px;
  z-index: 10;
  white-space: nowrap; /* 改行させない */
  transform: translateX(20px); /* ゲームエリアの右端から少し離す */
  text-align: left; /* テキストを左寄せに */
}
